{% extends 'estore/base.html' %}
{% block content %}

<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
{% if user.is_authenticated %}
<script>
  Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Items by availability'
      },
      xAxis: {
          categories: [
            {% for entry in dataset %}'{{ entry.name }} Class' {% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      },
      series: [{
          
          data: [
           {% for entry in dataset %}{{ entry.stock_count }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'blue'
      }]
  });
</script>
{% else %}
<p class="message-info"> You do not have permission to view these graphs, please login and try again</p>
{% endif %}
{% endblock %}
