{% extends 'estore/base.html' %}
{% block content %}

<div id="products"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
{% if user.is_authenticated %}
<script>

Highcharts.chart('products', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Products by stock'
      },
      xAxis: {
          categories: [
            {% for entry in product_dataset %}'{{ entry.name }}' {% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      },
      series: 

	[{ name: 'Stock',
          data: [
           {% for entry in product_dataset %}{{ entry.stock_sum}}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'blue'
      }]
  });

</script>
{% else %}
<p class="message-info"> You do not have permission to view these graphs, please login and try again</p>
{% endif %}
{% endblock %}
